.container {
  border-top: 1px solid #eeeeee;
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  font-size: 15px;
  font-weight: 500;
  color: #7c838a;
  padding: 18px 0;
}
.buttonWrapper {
  display: flex;
  gap: 30px;
}
.button {
  all: unset;
  cursor: pointer;
  width: 50px;
  height: 50px;
}
.kakaoImg {
  border-radius: 50%;
}
